setuptools
pytorch_lightning>=2.5,<2.6
batchgenerators>=0.24
nnunet==1.7.1
numpy<2
mlxtend<0.24
scipy
scikit-learn
scikit-image>=0.14
pandas>=0.8.1
PyYAML>=5.1, !=5.4.*
nevergrad
python-gdcm==3.0.22
dicom2nifti
medpy
SimpleITK
tqdm
loguru
hydra-core>=1.1.0
mlflow
GitPython
matplotlib
seaborn
torchmetrics>=1.0,<2
PyWavelets
